<h1>Log In</h1>
 
<%= fash[:message] if flash[:message] %>
<%# no instance variable because not updating instance %>
<%= form_for :users do |f| %>
<%= f.label :email %>
<%= f.email_field :email %>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<%= f.submit "Log In" %>

<% end %>