<h1> Create Vacation </h1>

    <%= form_for(@vacation) do |f| %>

        <%= f.label :date_traveling %>
        <%= f.text_field :date_traveling %>

         <%= f.label :description %>
        <%= f.text_field :description %>

        <%= f.submit "create"  %>
        <% end %>

        