<h1>Add Vacation</h1>

<%= form_for([@group, @vacation]) do |f| %>

  <%= f.label :date_traveling %>
  <%= f.text_field :date_traveling %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit "Submit" %>
<% end %>

<br>
<%= button_to 'Back to Vacations', group_vacations_path, method: "get" %>
