<!--<h1><%#= @user.group_name %> will be traveling on <%#= @vacation.date_traveling%> to <%#= @vacation.description! %> if they have the money!</h1>-->

<h2>Show Vacation:</h2>

<%= @vacation.date_traveling %>
<%= @vacation.description %>

<%= @vacation.description %>
<%= link_to 'Edit vacation', edit_group_vacation_path(@vacation.group, @vacation) %>
<br>
<%= link_to 'Goals', vacation_goals_path(@vacation) %>
