<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" <%= link_to "Vacay with Friends", root_path %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% if !logged_in? %>
          <li class="nav-item">
            <a class="nav-link"<%= link_to "Sign Up", signup_path %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"<%= link_to "Log In", login_path %></a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link"<%= link_to "Home", root_path %></a>
          </li>
        <% end %>
        <% if logged_in? %>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" <%= link_to "Log Out", logout_path %></a>
              </li>
            </ul>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</nav>